.style1{
    color : blue;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}
.style2
{
    color : rgb(214, 16, 16);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}