{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Document</title>
</head>
<body style="background-image: url('static/images/image2.jpg'); background-size: cover;">
    <h1 class ='style2' align="center">INDEX PAGE</h1>
    {% if request.user.is_authenticated %}
        <h3 align="center"><a href="/logout">Logout</a></h3>
        {% if request.user.is_superuser %}
        <h3 align="center"><a href="/read">Show Product</a></h3>
        <h3 align="center"><a href="/create_product">Add Product</a></h3>
        <h3 align="center"><a href="/read_cart">Show Cart</a></h3>
        <h3 align="center"><a href="/read_orders">Show Orders</a></h3>   

        {% elif requset.user.is_staff %}
        <h3 align="center"><a href="/read">Show Product</a></h3>
        <h3 align="center"><a href="/create_product">Add Product</a></h3>
        <h3 align="center"><a href="/read_cart">Show Cart</a></h3>
        <h3 align="center"><a href="/read_orders">Show Orders</a></h3>

        {% else %}
        <h3 align="center"><a href="/read">Show Product</a></h3>
        <h3 align="center"><a href="/read_cart">Show Cart</a></h3>
        <h3 align="center"><a href="/read_orders">Show Orders</a></h3>
        {% endif %}
       
    {% else %}
        <h1  align="center"><a href="/register">Register</a></h1>
        <h2 align="center"><a href="/login">Login</a></h2>
    {% endif %}

   
   
</body>
</html>