<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">CART</h1>
    <table align="center" border="1">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Remove</th>
            <th>Orders</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.product.name}}</td>
            <td><img src="{{x.product.image.url }}" width="100px" height="100px"></td>
            <td>
                <select onchange="location=this.value;">
                    <option value="/update_cart/{{x.id}}/1" {% if x.quantity == 1 %} selected {% endif %}>1</option>
                    <option value="/update_cart/{{x.id}}/2" {% if x.quantity == 2 %} selected {% endif %}>2</option>
                    <option value="/update_cart/{{x.id}}/3" {% if x.quantity == 3 %} selected {% endif %}>3</option>
                    <option value="/update_cart/{{x.id}}/4" {% if x.quantity == 4 %} selected {% endif %}>4</option>
                    <option value="/update_cart/{{x.id}}/5" {% if x.quantity == 5 %} selected {% endif %}>5</option>
                </select>
            </td>
            <td>{{ x.total_price }}</td>
            <td><a href="/delete_cart/{{ x.id }}">Remove from cart</a></td>
            <td><a href="/orders/{{ x.id }}">Orders</a></td>
        </tr>
    {% endfor %}
    <tr>
        <th></th>
        <th></th>
        <th>{{ total_quantity }}</th>
        <th>{{ total_price }}</th>
    </tr>
    </table>
    <h5 align="center"><a href="/">Back To Home Page</a></h5>
</body>
</html>